<section class="bg-light" id="home">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ url_for('static', filename='img/bienvenida.jpg') }}"
                    class="d-block mx-lg-auto img-fluid" alt="Bienvenida" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-4">¡Hola, Soy ALVARO CONTI!</h2>
                <p class="lead fs-3">Estudiante de Ingeniería en Sistemas de Información</p>
                <hr class="my-4">
                <h3 class="fs-4">Sobre Mí</h3>
                <p class="lead fs-3">
                    Busco oportunidades laborales que se alineen con mi perfil académico y profesional.
                    Actualmente estudiante de Ingeniería en Sistemas de Información, he desarrollado habilidades en programación,
                    análisis de sistemas y bases de datos. Comprometido con el aprendizaje continuo, trabajo en equipo y dedicación para alcanzar metas.
                    Dispuesto a esforzarme y contribuir al éxito de su empresa.
                </p>
                <a class="btn btn-primary btn-lg" href="#contact" role="button">Contáctame</a>
            </div>
        </div>
    </div>
</section>